@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.logo-panel,
.chat-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #35A7FF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

header h2 {
  font-size: 1.4rem;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #35A7FF;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 25px;
  max-width: 75%;
  color: #fff;
  font-size: 1.1rem;
  background: #35A7FF;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .incoming p {
  border-radius: 25px;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #333;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #35A7FF;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

.logo-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-right: 1px solid #ddd;
  height: calc(100vh - 64px);
}

.circle {
  background-color: #35A7FF;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo {
  color: white;
  font-size: 9rem;
}

.chatbot-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-panel {
  text-align: center;
}

.action-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  background-color: transparent;
  color: #35A7FF;
  border: 2px solid #35A7FF;
  border-radius: 50px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #35A7FF;
  color: white;
  border-color: #35A7FF;
}

.disclaimer {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 1.6;
  color: #333;
}

.disclaimer-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}